* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-weight: normal;
    vertical-align:baseline;
    background:transparent;
}

h1 {
    background-color: rgb(235,84,5);
    color: white;
    font-size: 12pt;
    padding-top: 3px;
    padding-left: 15px;
    padding-bottom: 5px;
}

section {
    margin: 10px;
}

section.news article {
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: solid 1px lightgray;
    overflow: hidden;
}

div.news-left {
    float: left;
}

div.news-right {
    margin-left: 30px;
    float: left;
}

div.news-right time {
    font-size: 10pt;
}

div.news-right p {
    margin-top: 1em;
}
